*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w100{
  width: 100%;
}
.h100{
  height: 100%;
}
.section-margin{
  margin: 2.56rem 6.25rem 0;
}

.flex{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-Container{
  position: absolute;
  top: 0;
}
.welcome-Title{
  position: absolute;
  z-index: 1;
  font-size: 19rem;
  line-height: 0;
  top: 42%;
  color: #b8674f;
}
body{
  background-color: #F0F0F0;
}
header{
  margin: 2.56rem 0 0;
  padding: 0 6.25rem;
  justify-content: space-between;
  align-items: center;
  .header-Left{
    width: 55%;
    justify-content: space-between;
    align-items: center;
  }
  h1{
    color: #5B6B3A;
  }
  .link{
    text-decoration: none;
    color: #272D4E;
    font-size: 1.12rem;
    margin: 0 1.57rem;
  }
  #currentPage{
    font-weight: 700;
    color: #5B6B3A;
  }

}

footer{
  padding: 2rem 6.25rem;
  justify-content: space-evenly;
  align-items: center;
  border-top: .5px solid #5E5E5E;

  div{
    justify-content: space-between;
    align-items: center;
    h3{
      color: #5B6B3A;
      font-size: 1rem;
    }
    ul{
      font-size: .75rem;
    
      li{
        list-style: none;
        margin-top: 1rem;
        color: #272D4E;
      }
    }
  }
}

.home-Container{
  margin-top: 4rem;
  .description-Container, .button-Container{
    margin: 0 6.25rem;
    width: 60%;

    h1{
      font-size: 4rem;
      line-height: 1;
      color: #272D4E;
    }
    button{
      margin: 3rem 0 0 0;
      padding: 1.12rem 2.69rem;
      border-radius: 7px;
      outline: none;
      border: none;
      background-color: #5B6B3A;
      color: #F5F5F5;
      box-shadow: 0 9px 20px 3px #5b6b3a54;
    }
  }

  .plantCarousel{
    width: 60%;
    padding: 2rem 0;
    .plant-Container {
      height: 11rem;
      width: 10rem;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 1rem;
      border-radius: 15px;
      background: linear-gradient(-140deg,#d9d9d949 50% , #F5F5F5 50%);
      font-weight: 600;
      font-size: .94rem;
    }
    .react-multi-carousel-dot button{
      background-color:transparent;
    }
    .react-multi-carousel-dot--active button{
      background-color:#5B6B3A;
    }
  }
}

.shop-Container{
  h1{
    color: #272D4E;
    font-size: 6rem;
    text-transform:uppercase;
  }
  >div{
    border-top: 1px solid black;
    padding: 1rem 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    >p{
      padding: 0.5rem 1rem;
    }
    .shopItem-Container{
      margin-top: 1rem;
      text-decoration: none;
      color: #272D4E;
      div{
        margin-top: 1rem;
        .price{
          font-size: .8rem;
        }
      }
    }
  }
}

.product-ContainerLeft{
  width: 55%;
  height: 75vh;
  justify-content: space-between;
  .verticalSlide{
    width:25%;
    height: auto;
    align-items: center;
    background-color: #5b6b3a1a;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar{
    display: none;
  }
}

.product-ContainerRight{
  width: 45%;
  height: 75vh;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1rem;
  .info-Container{
    div{
      h1{
        color: #272D4E;
        font-size: 3.5rem;
        text-transform:uppercase;
        line-height: 1;
      }
      p{
        line-height: 1;
        font-size: 1.75rem;
      }
    }
    .description{
      margin-top: 2rem;
    }
  }
  .buttons-Container{
    margin-top: 2rem;
    height: 2.5rem;

    justify-content: flex-start;
    align-items: center;
    input{
      width: 20%;
      padding: .75rem 1rem;
      outline: none;
      border: .5px solid black;
      border-radius: 50px;
      text-align: center;
    }
  ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }
    button{
      margin-left: 1rem;
      padding: .75rem 1.5rem;
      border-radius: 50px;
      outline: none;
      border: none;
      background-color: #5B6B3A;
      color: #F5F5F5;
      cursor: pointer;
    }
  }
}

